@import 'variables';

h1,
.h1 {
  font-size: $base-unit * 6;
}

h2,
.h2 {
  font-size: $base-unit * 5;
}

h3,
.h3 {
  font-size: $base-unit * 4;
}

h4,
.h4 {
  font-size: $base-unit * 3;
}


.t10 {
  font-size: $base-unit * 3;
}

.t20 {
  font-size: $base-unit * 2;
}

.t30 {
  font-size: $base-unit;
}
